<h1>List of all Albums</h1>
 
<table class="table table-hover" id="myTable">
  
  <thead>
  <tr>
    <th >Title</th>
    <th>Creator</th>
    <th>Time Created</th>
  </tr>
  </thbook


 <tbody>
  <% @albums.each do |album| %>
    <tr>
      <td><%= album.title %></td>
      <td><%= album.user.email %></td>
      <td><%= album.created_at.strftime("%d-%b-%Y, %l:%M%P") %></td>
      <td><%= image_tag(album.avatar.small_thumb.url, alt: 'Image') if album.avatar? %></td>

      <td><%= link_to 'View Album', album_path(album), class: 'btn btn-success btn-xs' %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<br>
  <% if user_signed_in? %> 
      <%= link_to new_album_path, class: 'btn btn-warning' do %>
       <i class="glyphicon glyphicon-plus"></i> New Album
    <% end %>


<% end %>




